<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../head'); %>
    <title>Confimation formulaire</title>
  </head>
  <body class="container" >
    <header><%- include('../header'); %></header>

    <main>
      <div class="jumbotron bg-dark text-white">
        <h3>Votre formulaire à bien été envoyé avec succès ! Je vous contacterai d'ici 24 à 48 heures ouvrables.</h3><br>
        <h3> Merci !</h3><br>
        <div class="error-actions">
          <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>Retourner à l'accueil </a>
        </div>
      </div>
    </main>

    <footer>
        <%- include('../footer'); %>
    </footer>
  </body>
</html>