<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../head'); %>
    <title>Biographie</title>
  </head>
  <body class="container" >
    <header><%- include('../header'); %></header>
    <main>
      <div class="jumbotron bg-dark text-white large-container">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <img src="/images/Nathan1.png" class="img-fluid rounded-circle">
            </div>
            <div class="col-md-8">
              <h1>Nathan Thibault</h1>
              <p>
                Bonjour, je m'appelle Nathan Thibault et cela fait plus de 10 ans que je suis dans le domaine de l'informatique. J'ai débuté l'AEC en développement Web au début du mois d'octobre 2023. Durant quatre années consécutives, avant de m'inscrire au cours, j'étais administrateur de parc informatique pour la compagnie Machitech Automation. J'avais à ma charge plus de 150 employés et cinq autres entreprises que Machitech détenait. De plus, je m'occupais de l'installation et de l'entretien des systèmes de sécurité chez Desjardins, Métro, Super C et plus encore. En tant que technicien informatique, j'ai travaillé chez Ubisoft Québec et chez Bell Canada comme vendeur/conseiller. J'ai abandonné le côté technique/support pour celui du développement, car je voulais vivre un nouveau défi et c'est pourquoi je me suis lancé dans le domaine du Web !
              </p><br>
              <p>Au plaisir de se parler !</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer><%- include('../footer'); %></footer>
  </body>
</html>
